{#
  Template del bloque Buscador de Proyectos AEI.
  TODO (Bloque 7): adaptar web/index.html a sintaxis Twig.
#}
{{ attach_library('buscador_aei/buscador_aei') }}
<div class="buscador-aei">
  {# Contenido pendiente #}
</div>
